In [1]:
import os
import sys
import json
from tqdm import tqdm_notebook as tqdm
from pprint import pprint

import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
import seaborn as sns

## data load

In [19]:
BASE_DIR = '../mnt/inputs/features/train'
# BASE_DIR = '../mnt/inputs/features/test'

In [7]:
!ls $BASE_DIR

EncodingTitles.pkl  KernelBasics2.pkl	      SessionTime2.pkl
EventCount.pkl	    KernelBasics3.pkl	      Worldcount.pkl
EventCount2.pkl     PrevAssessAccByTitle.pkl

In [20]:
kernel_basics2_df = pd.read_pickle(f'{BASE_DIR}/KernelBasics2.pkl')
kernel_basics3_df = pd.read_pickle(f'{BASE_DIR}/KernelBasics3.pkl')

FileNotFoundError: [Errno 2] No such file or directory: '../mnt/inputs/features/train/KernelBasics3.pkl'

In [10]:
kernel_basics2_df.head()

,12 Monkeys,Air Show,All Star Sorting,Balancing Act,Bird Measurer (Assessment),Bottle Filler (Activity),Bubble Bath,Bug Measurer (Activity),Cart Balancer (Assessment),Cauldron Filler (Assessment),...,prev_acc_gr_-99,prev_acc_gr_0,prev_acc_gr_1,prev_acc_gr_2,prev_acc_gr_3,prev_cumnum_c,prev_cumnum_inc,prev_num_corrects,prev_num_incorrects,type
25,0,0,1960,0,0,0,0,33,30,0,...,1,0,0,0,0,1,0,0,0,Assessment
57,0,123,64,0,82,349,96,74,15,36,...,1,0,0,0,0,4,7,0,0,Assessment
8,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Assessment
13,0,0,77,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Assessment
24,0,0,610,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Assessment

In [11]:
kernel_basics3_df.head()

,12 Monkeys,Air Show,All Star Sorting,Balancing Act,Bird Measurer (Assessment),Bottle Filler (Activity),Bubble Bath,Bug Measurer (Activity),Cart Balancer (Assessment),Cauldron Filler (Assessment),...,prev_acc_gr_-99,prev_acc_gr_0,prev_acc_gr_1,prev_acc_gr_2,prev_acc_gr_3,prev_cumnum_c,prev_cumnum_inc,prev_num_corrects,prev_num_incorrects,type
25,0,0,1960,0,0,0,0,33,30,0,...,1,0,0,0,0,1,0,0,0,Assessment
57,0,123,64,0,82,349,96,74,15,36,...,1,0,0,0,0,4,7,0,0,Assessment
8,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Assessment
13,0,0,77,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Assessment
24,0,0,610,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Assessment

In [21]:
for col in kernel_basics3_df.columns:
    res = (kernel_basics2_df[col] == kernel_basics3_df[col]).values
    # print(f'{col}: \t{res.all()}')
    print(f'{col}: \t{res.mean()}')

ValueError: Can only compare identically-labeled Series objects

In [13]:
# 結論、test は完全一致